.form {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 16px;
  margin-bottom: 56px;
}

.formDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.inputContainer {
  display: flex;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

.inputContainer::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1px;
  height: 100%;
  background-color: #dadde1;
}

.contBtn {
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
}

.contBtn svg {
  position: absolute;
  right: -28px;
}
