.header {
  z-index: 3;
  background: var(--badges);
  border-bottom: 1px solid var(--badges);
  padding: 24px 0 24px 0;
  /* height: 68px; */
}

.headerLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLine a {
  line-height: 0.7;
}

.nav {
  display: flex;
  column-gap: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
}

.active {
  color: var(--button-hover);
  transition: color 0.3s ease;
}
